@model web.reunion.Models.LoginViewModel

@{
    ViewData["Title"] = "Iniciar Sessão";
}

<div class="text-center mt-5">
    <div>
        <img class="ulslaLogo mb-3" src="~/logo_ulsla.png" alt="Logótipo da ULSLA" />
    </div>
    <div class="mb-4">
        <h2 class="text-white">Bem-vindo a Reuni<i class="fa-solid fa-power-off"></i>n</h2>
    </div>
    <div class="w-100 m-auto loginForm box-shadow">
        <div class="mb-3"><h4 class="text-white">Iniciar Sessão</h4></div>
        <form asp-action="Login" asp-controller="Account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="text-start">
                <div class="input-group position-relative">
                    <div class="form-floating">
                        <input class="form-control ps-5" id="floatingInput" asp-for="Username" placeholder="Nome de Utilizador" />
                        <label class="ps-5" for="floatingInput">Nome de Utilizador</label>
                        <i class="fas fa-user position-absolute start-0 top-50 translate-middle-y ms-3"></i>
                    </div>
                </div>
                <span asp-validation-for="Username" class="text-danger"></span>
                <div class="input-group mt-3 position-relative">
                    <div class="form-floating">
                        <input class="form-control ps-5" id="floatingPass" asp-for="Password" type="password" placeholder="Palavra-Passe" />
                        <label class="ps-5" for="floatingPass">Palavra-Passe</label>
                        <i class="fas fa-lock position-absolute start-0 top-50 translate-middle-y ms-3"></i>
                    </div>
                </div>
                <span asp-validation-for="Password" class="text-danger"></span>
                <div class="mt-3">
                    <label asp-for="LocalId" class="control-label text-white">Selecione o Local para o Agendamento</label>
                    <select asp-for="LocalId" class="form-select" asp-items="@ViewBag.LocalId">
                    </select>
                </div>
            </div>
            <div class="form-check mt-3 text-start text-white my-3">
                <input asp-for="RememberMe" type="checkbox" />
                <label asp-for="RememberMe">Lembrar-me</label>
            </div>
            <button class="btn btn-primary w-100" type="submit">Iniciar Sessão</button>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}